<!DOCTYPE html>
<html>
<head>
    <title>Blogz</title>
    
    <style>
        h1{
            text-align: center;
            color:blueviolet
        }
        .error{
            color: rgb(255, 0, 221);
        }
        nav{
            
            margin: 20px 0 0 ;
            padding: 20px 0;
        }
        nav a{
            font-weight: bold;
            padding: 10px 5px;
            font-size: 1.80em;
        }
        body {
            background-color: rgb(245, 196, 178);
        }
    </style>
</head>
<body>
        <nav>    
                <a>  </a>
                <a>  </a>   
                <a href="/">Home</a>
                <a>  </a>
                <a>  </a>
                <a>  </a>
                <a>  </a>
                <a href="/blog">Main Blog Page</a>
                <a>  </a>
                <a>  </a>
                <a>  </a>
                <a>  </a>
                <a href="/newpost">Add a Blog</a>
        </nav>
            <p> </p>
        <nav>    
                <a>  </a>
                <a>  </a>   
                <a href="/login">Login</a>
                <a>  </a>
                <a>  </a>
                <a href="/logout">Logout</a>
        </nav>

    {% block content %}
    {% endblock %}
    
</body>
</html>