{% extends "base.html" %}

{% block content %}
<form action="/login" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input id="username" name="username" type="text" value="{{ username }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input id="password" name="password" type="password">
            </td>
        </tr>
    </table>
        <p class="error">{{login_error}}</p>
    <input type="submit" value="Login">
</form>
<p>No account? <a href="/signup">Make one!</a></p>
{% endblock %}