{% extends "base.html" %}

{% block content %}
<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input id="username" name="username" type="text" value="{{ username }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input id="password" name="password" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input id="verify" name="verify" type="password">
            </td>
        </tr>
    </table>
    <h1 class="error">{{user_error}}</h1>
    <p></p>
    <h1 class="error">{{length_error}}</h1>
    <p></p>
    <h1 class="error">{{password_error}}</h1>

    <input type="submit" value="Signup">
</form>
{% endblock %}